html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(61, 58, 58);
    /* height: 100%; */
}
#wrapper{
    width: 100vw;
}
#wrapper > #inner > .text{
    text-shadow: 2px 1px 3px rgb(36, 36, 36);
    width: 1224px;
    margin: 0 auto;
    text-align: center;
    color: #9b9b9b;
}
#inner{
    display: flex;
    flex-direction: column; /* 수직으로 정렬하기 위해 컬럼 방향으로 설정 */
    align-items: center; /* 수직 정렬: 가운데로 정렬합니다 */
}
#inner img:nth-child(1){
    position: absolute;
}
#inner img:nth-child(2){
    position: relative;
}
#inner>.sub-inner1{
    position: relative;
    top: 300px;
    left: -15%;
}
#inner img:nth-child(4){
    position: relative;
    right: -10%;
    top: -30px;
    z-index: 1;
}
#inner img:nth-child(5){
    position: absolute;
    z-index: 2;
    top: 1020px;
}
#inner img:nth-child(6){
    position: relative;
    top: 700px;
}
footer{
    padding: 80px 0 100px 0;
    background-color: rgb(34, 32, 32);
    text-align: left;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #9b9b9b;
    line-height: 150%;
    height: 150px;
    position : relative;
    transform : translateY(-100%);
}
footer>.inner{
    width: 1224px;
    display: flex;
    margin: 0 auto;
}

footer a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    }
/* .footer-image{
    padding-top: 10px;
} */
.footer-image {
    display: flex;
    flex-direction: row;
    width: 80px; /* 원하는 너비 */
    height: 30px; /* 원하는 높이 */
    overflow: hidden; /* 이미지 크기 초과 부분 숨김 */
}

/* 이미지 크기를 100%로 지정하여 컨테이너 크기에 맞춤 */
.footer-image img {
    width: 100%;
    height: 100%;
    object-fit:contain; /* 이미지 비율 유지 및 부족한 부분 자르기 */
}

.footer-line{
    border-top: 1px solid #bebbbb;
    margin: 20px 0px;
    width: 400px;
}
.i{
    padding: 10px;
}
.particles {
    position: absolute;
    width: 100%;
    height: 100vh;
}
.particle {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    filter: blur(10px); /* 초기 블러 설정 */
    pointer-events: none; /* 이벤트 방지 */
    animation: move 4s linear infinite, blur 4s alternate infinite;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes blur {
    0% {
        filter: blur(10px);
    }
    50%{
        filter: blur(5px);
    }
    100% {
        filter: blur(3px);
    }
}